*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:none;
    
 } 

 body{
   background-color:  rgb(255, 255, 255);
 }

 .logo img {
   height:60vh;
   position: relative;
   top:100pt;
   padding:0em;
   border:2px solid white;
 }


 

 /* First Section -- Also the background of Home Page */

 .Background-Home-Page {

    border:none;
    border-left: black;
    border-right: black;
    height:100vh;
    background-color: rgb(50, 116, 161);
    display: flex;
    justify-content: center;
    
    
 }




 /* Second section for Menu-bar */

 .Menu-bar {
    border-top:2px solid rgb(0, 0, 0);
    border-bottom:2px solid rgb(0, 0, 0);
    height:20vh;
    display:flex;
    justify-content: center;
 }

 
 .Menu-bar li {
    list-style: none;
    border:2px solid rgb(0, 0, 0);
    color: azure;
    background: rgb(0, 0, 0);
    width:100%;
    text-align: center;
    text-decoration: none;
    padding:1.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    
 }

 .Menu-bar a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   
 }

 .Menu-bar a:hover{
   color: rgb(35, 150, 216);

 }

 /* Event info section */

 .Events-info-box-main {

    border:2px solid rgb(0, 0, 0);
    background-color: black;
    height:420vh; 
    padding: 5em;

 }

 .Events-info-box-main h1 {
   border:2px solid rgb(0, 0, 0);
   background: black;
   color: white;
   text-align: center; 
   padding:2em;
   font-family: Arial, Helvetica, sans-serif;
}

.Events-info-box-main h2 {
   border:2px solid rgb(0, 0, 0);
   background: black;
   color: rgb(3, 192, 255);
   text-align: center;
   text-decoration: underline;
   padding:1em;
}

.Events-info-box-main p {
   border:2px solid rgb(0, 0, 0);
   background: black;
   color: white;
   padding: 2em;
   text-align: center;
   text-decoration: none;
   font-style: italic;
   font-size: 23px;
   font-family: Arial, Helvetica, sans-serif;
   display: block;
   width:100%;
}


/*First Minimization*/

@media only screen and (max-width: 580px) {

   .Background-Home-Page {
 
      border:none;
      border-left: black;
      border-right: black;
      height:100vh;
      background-color: rgb(50, 116, 161);
      display: flex;
      justify-content: center;
      
      
   }
 
 
   .logo img {
     height:40vh;
     position: relative;
     top:150pt;
     padding:0em;
     border:2px solid white;
   }

   /* Second section for Menu-bar */
 
  .Menu-bar {
   border-top:2px solid rgb(255, 255, 255);
   border-bottom:2px solid rgb(255, 255, 255);
   height:14vh;
   display:flex;
   justify-content: center;
}


.Menu-bar li {
   list-style: none;
   border:2px solid rgb(0, 0, 0);
   color: azure;
   background: rgb(0, 0, 0);
   width:100%;
   text-align: center;
   text-decoration: none;
   padding:1.7em;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: 600;
   cursor: pointer;
   
}

.Menu-bar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}

.Menu-bar a:hover{
  color: rgb(35, 150, 216);

}

}


/* Iphone 14 Pro Max */

@media only screen and (max-width: 430px) {

   /* First Section -- Also the background of Home Page */

 .Background-Home-Page {

   border:none;
   border-left: black;
   border-right: black;
   height:23vh;
   background-color: rgb(50, 116, 161);
   display: flex;
   justify-content: center;
   
   
}

.logo img {
  height:13vh;
  padding:0em;
  border:1px solid white;
  position: relative;
  top:24pt;
}

/* Second section for Menu-bar */

.Menu-bar {
   border-top:2px solid rgb(0, 0, 0);
   border-bottom:2px solid rgb(0, 0, 0);
   height:7vh;
   display:flex;
   justify-content: center;
   position:relative;
   top:0pt;
}


.Menu-bar li {
   list-style: none;
   border:2px solid rgb(0, 0, 0);
   color: azure;
   background: rgb(0, 0, 0);
   width:100%;
   text-align: center;
   text-decoration: none;
   padding:1.7em;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: 600;
   cursor: pointer;
   
}

.Menu-bar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}

.Menu-bar a:hover{
  color: rgb(35, 150, 216);

}


.Events-info-box-main {

   border:2px solid rgb(0, 0, 0);
   background-color: black;
   height:130vh; 
   padding: 1.5em;

}

.Events-info-box-main h1 {

   font-size: 20px;
   background: rgb(139, 182, 201);
   color: black;
   padding: 1em;
   border-radius: 0.4em;
}


.Events-info-box-main span{
   font-style: italic;
   font-size: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;

}

}





 